body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    text-align: right;
    padding: 20px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

.content-wrapper {
    flex: 1 0 auto;
}

.search-input {
    padding: 12px 20px; /* Adjusts the size of the input box */
    font-size: 16px; /* Sets the font size inside the input */
    border: 1px solid #ccc;
    border-radius: 50px; /* Makes the corners fully rounded */
    outline: none; /* Removes the border outline on focus */
    width: 450px; /* Optional: Sets a specific width for the input field */
    margin-bottom: 10px; /* Adds space between the input field and the button */
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    display: flex;
    flex-direction: row; 
    margin-top: 10px;
    gap: 10px; /* Add space between the buttons */
}

.button-row button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    /* background: #f8f9fa; /* match Google style */
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;  
    border-radius: 5px; /* Slightly rounded corners for the buttons */
    cursor: pointer;
    margin: 0 5px;
    /* background: #f8f9fa; /* match Google style */
}