<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Advanced Search</title>
        <link rel="icon" href="../assets/favicon.ico">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <a href="../index.html">Google Search</a>
            <a href="./img_search.html">Image Search</a>
        </header>
        <main>
            <div class="content-container">
                <div class="logo-container">
                    <img src="../assets/google_logo.png" alt="Google Logo" width="500" height="145">
                    <img src="../assets/adv_logo.png" alt="Images Logo" width="290" height="65">
                </div>
                <form action="https://www.google.com/search" class="search-form">
                    <div class="search-container">
                        <input type="text" name="q">
                        <img src="../assets/magnifying-glass-icon.svg" alt="Search Icon" class="search-icon">
                    </div>
                    <div class="button-row">
                        <button type="submit" name="tbm" value="isch">Advanced Search</button>
                    </div>
                </form>
            </div>
        </main>
        <footer>
             Copyright &copy; 2025 - All Rights Reserved.
        </footer>
    </body>
</html>